<form action="/cats" method="post">
     <label for="cat-name">Cat Name</label>
     <input type="text" id="cat-name" name="cat"/>
     <input type="submit" value="CREATE">
</form>

<ul>
     {{#each cats}}
     <li>{{this}}</li>
     {{/each}}
</ul>